/* * {
  outline: 1px black solid;
} */

.catchPhrase {
  font-style: italic;
}

body {
  background-color: grey;
}

h1 {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'ZCOOL XiaoWei', serif;
}

img {
  max-width: 17%;
  height: auto;
  border-radius: 50%;

  position: fixed;
  top: 10px;
}

.avatar {
  max-width: 100%;
  float: right;
  position: relative;
}

#content {
  margin: auto;
  width: 70%;
}

#pawPatrolHeader {
  text-align: center;
  margin-bottom: 75px;
}

ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  padding: 5px;
}

#pawPatrolList ul {
  margin: auto;
  width: 60%;
}

article {
  background-color: white;
  margin-top: 150px;
  padding: 5px;
  height: 265px;
}

article li {
  padding: 3px;
}

h2 {
  margin-top: 1px;
}

ol {
  padding-left: 20px;
}